<section class="services-section">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card service-card">
          <div class="row">
            <div class="col-md-6">
              <img src="/src/assets/images/service-1.png" class="card-img-top" alt="..." />
              
            </div>
            <div class="col-md-6">
              <img src="..." class="card-img-top" alt="..." />

            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title service-card-title">DIGITAL MARKETING</h5>
            <p class="card-text service-card-text">
              We can help you channel your potential implementing your idea. We
              take care of all your needs, crafting specific.
            </p>
            <Button class="hero-button">LEARN MORE
              <i class="bi bi-arrow-up-right-circle-fill ms-3 icon-arrow"></i>
            </Button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card service-card">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title service-card-title">GRAPHIC DESIGN</h5>
            <p class="card-text service-card-text">
              We can help you channel your potential implementing your idea. We
              take care of all your needs, crafting specific.
            </p>
            <Button class="hero-button">LEARN MORE
              <i class="bi bi-arrow-up-right-circle-fill ms-3 icon-arrow"></i>
            </Button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card service-card">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title service-card-title">APP DESIGN</h5>
            <p class="card-text service-card-text">
              We can help you channel your potential implementing your idea. We
              take care of all your needs, crafting specific.
            </p>
            <Button class="hero-button"
              >LEARN MORE
              <i class="bi bi-arrow-up-right-circle-fill ms-3 icon-arrow"></i>
            </Button>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <p class="card-section-p-text">JENNIFER HAS MULTIPLE CREATIVE SERVICES SPECIFICALLY FOR YOUR BUSINESS. FIND YOUR SOLUTION</p>
    </div>
  </div>
</section>
