<div>

</div>
<section
  class="hero-section">
    <div class="overlay"></div>

  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-7 group-text">
          <h3 class="hero-text-heading-small">Outstanding Creative Agency</h3>
          <h2 class="hero-text-heading">WE BRAND</h2>
          <hr class="horizontal-rule opacity-100" />
          <h2 class="hero-text-heading">YOUR PROJECT</h2>
          <hr class="horizontal-rule-2nd opacity-100" />
          <!-- <img src="assets/images/hero-1.jpg" alt="" />  -->
          <Button class="hero-btn">
            OUR SERVICES
            <i class="bi bi-arrow-up-right fw-bold ms-2"></i>
          </Button>
        </div>
      </div>
    </div>
  </div>
  <div class="circle"></div>
</section>
