<app-header></app-header>
<app-pages-hero></app-pages-hero>
<section class="contactpage-topsection">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2 class="contactpage-infotext">KEEP IN TOUCH WITH US</h2>
      </div>
      <div class="col-md-8">
        <div class="row row-cols-1 row-cols-md-3">
          <div class="col">
            <div class="contactpage-cardbox">
              <i class="bi bi-telephone-outbound contactpage-social-icons"></i>
              <div class="card-body">
                <h5 class="contactpage-card-title">Call Us For Free</h5>
                <p class="contactpage-card-text">+234 7 458 6545</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="contactpage-cardbox2">
              <i class="bi bi-envelope contactpage-social-icons"></i>
              <div class="card-body">
                <h5 class="contactpage-card-title">Send An Email</h5>
                <p class="contactpage-card-text">info@example.com</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="contactpage-cardbox3">
              <i class="bi bi-geo-alt-fill contactpage-social-icons"></i>
              <div class="card-body">
                <h5 class="contactpage-card-title">Our Location</h5>
                <p class="contactpage-card-text">Lagos, Nigeria.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="contactpage-messagesection">
  <div class="container">
    <div class="contactpage-messagebox">
      <div class="container">
        <div class="row">
          <h2 class="contactpage-dropboxheading">DROP YOUR MESSAGE</h2>
        </div>
        <div class="row mt-5">
          <div class="col-md-6">
            <div class="mb-3">
              <input
                type="email"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Your Name"
              />
            </div>
            <div class="mb-3">
              <input
                type="email"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Your Number"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <input
                type="email"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Email"
              />
            </div>
            <div class="mb-3">
              <input
                type="email"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Subject"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="mb-3">
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              placeholder="Write A Message"
              rows="5"
            ></textarea>
          </div>
        </div>
        <div class="contactpage-button-container mt-4">
          <button class="contactpage-submit-button">submit your message</button>
        </div>
      </div>
    </div>
  </div>
</section>
<app-marketing></app-marketing>
<app-footer></app-footer>
