
<section class="video-section">
    <div class="overlay">
        
    </div>
    <div class="container">
        <!-- Background image -->
        <div
          class="d-flex justify-content-center align-items-center video-group-text">
          <h1 class="video-text">WE WORK WITH CLIENTS OF ALL SIZES CREATING BEAUTIFUL WEBSITES</h1>
        </div>
        <!-- Background image -->
        
        <div class="pulse">
            <i class="bi bi-caret-right-fill video-play-icon"></i>
        </div>
    </div>
</section>
