<section class="marketing-section">
    <h3 class="marketing-title">STEP FORWARD TO BECOME ONE OF <span class="marketing-subtitle">49,494</span> SUCCESSFUL CLIENTS FROM ALL OVER THE WORLD</h3>
    <div class="marketing-group-image">
        <img src="/assets/images/brand-1.png" class="marketing-image" alt="..." />
        <img src="/assets/images/brand-2.png" class="marketing-image" alt="..." />
        <img src="/assets/images/brand-3.png" class="marketing-image" alt="..." />
        <img src="/assets/images/brand-4.png" class="marketing-image" alt="..." />
    </div>

</section>
