<app-header></app-header>
<app-pages-hero></app-pages-hero>
<app-who></app-who>
<section class="aboutpage-section">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-4">
      <div class="col">
        <div class="about-page-card pe-3 aboutpage-border">
          <img
            [src]="'/assets/images/features-5.png'"
            alt="This is a feature image."
            class="about-page-image"
          />
          <div class="card-body">
            <h5 class="aboutpage-card-title">BRANDING AGENCY</h5>
            <p class="aboutpage-card-text">
              We can help you channel your potential implementing your ideas.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="about-page-card aboutpage-border pe-3">
          <img
            [src]="'/assets/images/features-6.png'"
            alt="This is a feature image."
            class="about-page-image"
          />
          <div class="card-body">
            <h5 class="aboutpage-card-title">AWWARD WINNING</h5>
            <p class="aboutpage-card-text">
              We can help you channel your potential implementing your ideas.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="about-page-card aboutpage-border pe-3">
          <img
            src="/assets/images/features-7.png"
            alt="This is a feature image."
            class="about-page-image"
          />
          <div class="card-body">
            <h5 class="aboutpage-card-title">SPECILAIZE IN DESIGN</h5>
            <p class="aboutpage-card-text">
              We can help you channel your potential implementing your ideas.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="about-page-card pe-3">
          <img
            [src]="'/assets/images/features-8.png'"
            alt="This is a feature image."
            class="about-page-image"
          />
          <div class="card-body">
            <h5 class="aboutpage-card-title">COMMUNICATION SKILL</h5>
            <p class="aboutpage-card-text">
              We can help you channel your potential implementing your ideas.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-brand></app-brand>
<app-video></app-video>
<app-marketing></app-marketing>
<app-footer></app-footer>
