<section class="team-section">
  <div class="team-group-text">
    <h3 class="team-team-heading">OUR TEAM</h3>
    <h2 class="team-team-subheading">MEET OUR TEAM</h2>
    <div class="container">
      <div class="row row-cols-1 row-cols-md-4 g-4">        
          <div class="container">
            <img src="/assets/images/team-1.jpg" alt="Avatar" class="image">
            <div class="overlay"><p class="team-para">Name is John</p></div>
          </div>
        


      </div>
    </div>
  </div>
</section>
