<section brand-section>
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h3 class="brand-title">THE BEST DIGITAL AGENCY</h3>
        <h2 class="brand-section-text">WE COMBINE STRATEGY WITH MARKETING</h2>
        <h3 class="brand-text">
          With over a decade of experience, we have established ourselves as one
          of the pioneering agencies in the region
        </h3>
        <p class="brand-para">
          We can help you channel your potential implementing your idea. We take
          care of all your needs, crafting specific and targeted solutions. A
          great client experience begins with a great team member experience.
        </p>
      </div>
      <div class="col-md-5">
        <div class="">
          <img
            src="/assets/images/marketing-img.jpg"
            class="brand-image1"
            alt="..."
          />
        </div>
      </div>
    </div>
  </div>
</section>
