.services-page-section {
  height: 700px;
  width: 1519.2px;
  padding: 80px 0 0 0;
  min-height: 700px;
  background-image: url(/assets/images/marketing-bg.jpg);
}
.services-page-card {
  height: 220.25px;
  width: 415.987px;
  margin: 30px 0 0 0;
  padding: 40px 75px 35px 40px;
}
/* .services-page-card:hover{
  color: white;
  background-color: var(--main-color);

} */
.services-page-card-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 42px;
  margin-bottom: 15px;
}
.services-page-image {
  height: 90px;
  width: 90px;
  margin-left: 50px;
}
.services-pagecard-text{
  color: var(--main-color);
  font-size: 30px;
  margin-bottom: 10px;
}
