<app-header></app-header>
<app-pages-hero></app-pages-hero>
<section class="services-page-section">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card services-page-card">
          <div class="card-body">
            <div class="row">
              <div class="col-7">
                <h5 class="services-page-card-title">DIGITAL MARKETING</h5>
              </div>
              <div class="col-5">
                <img
                  [src]="'/assets/images/service-1.png'"
                  alt="This is the brand logo."
                  class="services-page-image"
                />
              </div>
            </div>
            <p class="services-pagecard-text">
              <i class="bi bi-arrow-up-right fw-bold ms-2"></i>
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card services-page-card">
          <div class="card-body">
            <div class="row">
              <div class="col-7">
                <h5 class="services-page-card-title">DIGITAL MARKETING</h5>
              </div>
              <div class="col-5">
                <img
                  [src]="'/assets/images/service-1.png'"
                  alt="This is the brand logo."
                  class="services-page-image"
                />
              </div>
            </div>
            <p class="services-pagecard-text">
              <i class="bi bi-arrow-up-right fw-bold ms-2"></i>
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card services-page-card">
          <div class="card-body">
            <div class="row">
              <div class="col-7">
                <h5 class="services-page-card-title">DIGITAL MARKETING</h5>
              </div>
              <div class="col-5">
                <img
                  [src]="'/assets/images/service-1.png'"
                  alt="This is the brand logo."
                  class="services-page-image"
                />
              </div>
            </div>
            <p class="services-pagecard-text">
              <i class="bi bi-arrow-up-right fw-bold ms-2"></i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card services-page-card">
          <div class="card-body">
            <div class="row">
              <div class="col-7">
                <h5 class="services-page-card-title">DIGITAL MARKETING</h5>
              </div>
              <div class="col-5">
                <img
                  [src]="'/assets/images/service-1.png'"
                  alt="This is the brand logo."
                  class="services-page-image"
                />
              </div>
            </div>
            <p class="services-pagecard-text">
              <i class="bi bi-arrow-up-right fw-bold ms-2"></i>
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card services-page-card">
          <div class="card-body">
            <div class="row">
              <div class="col-7">
                <h5 class="services-page-card-title">DIGITAL MARKETING</h5>
              </div>
              <div class="col-5">
                <img
                  [src]="'/assets/images/service-1.png'"
                  alt="This is the brand logo."
                  class="services-page-image"
                />
              </div>
            </div>
            <p class="services-pagecard-text">
              <i class="bi bi-arrow-up-right fw-bold ms-2"></i>
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card services-page-card">
          <div class="card-body">
            <div class="row">
              <div class="col-7">
                <h5 class="services-page-card-title">DIGITAL MARKETING</h5>
              </div>
              <div class="col-5">
                <img
                  [src]="'/assets/images/service-1.png'"
                  alt="This is the brand logo."
                  class="services-page-image"
                />
              </div>
            </div>
            <p class="services-pagecard-text">
              <i class="bi bi-arrow-up-right fw-bold ms-2"></i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-marketing></app-marketing>
<app-footer></app-footer>
