<section class="counter-section">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-4">
      <div class="col">
        <div class="card counter-card">
          <img src="/assets/images/counter-1.png" class="card-img-top card-image" alt="..." />
          <div class="card-body">
            <h5 class="card-title counter-card-title card-image">4555</h5>
            <p class="card-text counter-card-text">PROJECTS COMPLETED</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card counter-card">
          <img src="/assets/images/counter-2.png" class="card-img-top card-image" alt="..." />
          <div class="card-body">
            <h5 class="card-title counter-card-title">467</h5>
            <p class="card-text counter-card-text">APP DESIGN</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card counter-card">
          <img src="/assets/images/counter-3.png" class="card-img-top card-image" alt="..." />
          <div class="card-body counter-group-text">
            <h5 class="card-title counter-card-title">378</h5>
            <p class="card-text counter-card-text">EXPERT TEAM MEMBERS</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card counter-card">
          <img src="/assets/images/counter-4.png" class="card-img-top card-image" alt="..." />
          <div class="card-body">
            <h5 class="card-title counter-card-title">1221</h5>
            <p class="card-text counter-card-text">POSITIVE REVIEWS</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
