<section class="about-container-box">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-6">
            <div class="parent">
              <img class="image1" src="/assets/images/ab-sahpe.png" />
              <div class="group-img">
                <div class="overlay2"></div>
                <img class="image2" src="/assets/images/about-1.jpg" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <hr class="about-hr opacity-100" />
            <div>
              <div class="overlay"></div>
              <img class="image3" src="/assets/images/about-2.jpg" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <h3 class="about-subtext">who we are</h3>
        <h2 class="about-maintext">
          HUMAN-LIKE BRAND PERSONALITIES DRIVEN BY IMMERSIVE CONTENT
        </h2>
        <p class="about-para">
          We can help you channel your potential implementing your idea. We take
          care of all your needs, crafting specific and targeted solutions. A
          great client experience begins with a great team member experience.
        </p>
        <ul class="about-group-list">
          <li>
            <i class="bi bi-check-circle-fill mark-icon"></i>
            <span>Get access to 4,000+ of our top courses</span>
          </li>
          <li>
            <i class="bi bi-check-circle-fill mark-icon"></i>
            <span>Popular topics to learn now</span>
          </li>
          <li>
            <i class="bi bi-check-circle-fill mark-icon"></i>
            <span>Find the right instructor for you</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
