<section class="faq-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="faq-heading-sub">ONE OF THE MOST SUCCESSFUL AGENCY</h3>
        <h2 class="faq-title">HUMAN-LIKE BRAND PERSONALITIES DRIVEN</h2>
        <p class="faq-p-tag">
          We can help you channel your potential implementing your idea. We take
          care of all your needs, crafting specific and targeted solutions. A
          great client experience begins with a great team member experience.
        </p>
        <div class="card faq-author-box mb-3" style="max-width: 636px">
          <div class="row g-0">
            <div class="col-md-2">
              <div class="faqs-circle">
                <img src="" alt="..." />
              </div>
            </div>
            <div class="col-md-8">
              <div class="card-body faq-author-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text faq-author-text">CEO, & Founder</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <button class="accordion">
          <div class="shape"></div>
          <h5 class="faqs-t">IS IT FULL DIGITAL AGENCY?</h5>
        </button>
        <div class="panel">
          <p>
            We can help you channel your potential implementing your idea. We
            take care of all your needs, crafting specific and targeted
            solutions.
          </p>
        </div>

        <button class="accordion">
          <div class="shape"></div>
          <h5 class="faqs-t">Why Should Choose Us?</h5>
        </button>
        <div class="panel">
          <p>
            We can help you channel your potential implementing your idea. We
            take care of all your needs, crafting specific and targeted
            solutions.
          </p>
        </div>

        <button class="accordion">
          <div class="shape"></div>
          <h5 h5 class="faqs-t">Can Discount Possible In Project?</h5>
        </button>
        <div class="panel">
          <p>
            We can help you channel your potential implementing your idea. We
            take care of all your needs, crafting specific and targeted
            solutions.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
